# 딕셔너리

### {key1:value1, key2:value2}.....

In [2]:
customer = {'name':'sangdol', 'age':9, 'birth':'0519'}
customer

{'name': 'sangdol', 'age': 9, 'birth': '0519'}

In [3]:
a = {1:'o'}
a[2] = 'p'
a

{1: 'o', 2: 'p'}

In [5]:
a = {1:'o'}
a[2] = 'p'
a['food'] = 'tofu'
a[3] = [1,2,3]
a

{1: 'o', 2: 'p', 'food': 'tofu', 3: [1, 2, 3]}

In [6]:
a = {1:'o'}
a[2] = 'p'
a['food'] = 'tofu'
a[3] = [1,2,3]
del a[1]
a

{2: 'p', 'food': 'tofu', 3: [1, 2, 3]}

딕셔너리 요소를 자유롭게 추가하고 삭제할 수 있다.

In [7]:
pick = {1:'돼지고기',2:'닭고기',3:'소고기'}
pick[3]

'소고기'

딕셔너리에서는 a['b']시 'b'에 해당되는 value가 출력된다. -> 리스트와 튜플에서의 인덱싱과는 다르다!(x번째 순서..)

In [9]:
food = {1:'돼지고기',1:'소고기'}
food[1]

'소고기'

In [10]:
food = {[1,2,3]:'김치',4:'라면'}

TypeError: unhashable type: 'list'

In [11]:
food = {(1,2,3):'김치',4:'라면'}
food[(1,2,3)]

'김치'

In [12]:
food = {{1:'돼지갈비',2:'탕수육'}:'김치',4:'라면'}

TypeError: unhashable type: 'dict'

같은 key가 중복되면 1개를 빼고 나머지 value는 무시된다. 딕셔너리의 key에는 딕셔너리와 리스트를 사용할 수 없다.(튜플은 가능!)

In [15]:
sports = {1:'baseball',2:'football',3:'basketball'}
sports.keys()

dict_keys([1, 2, 3])

In [16]:
sports = {1:'baseball',2:'football',3:'basketball'}
sports.values()

dict_values(['baseball', 'football', 'basketball'])

In [17]:
sports = {1:'baseball',2:'football',3:'basketball'}
sports.items()

dict_items([(1, 'baseball'), (2, 'football'), (3, 'basketball')])

In [19]:
sports = {1:'baseball',2:'football',3:'basketball'}
sports.clear()
sports

{}

In [20]:
sports = {1:'baseball',2:'football',3:'basketball'}
sports.get(1)

'baseball'

In [21]:
sports = {1:'baseball',2:'football',3:'basketball'}
print(sports.get(4))

None

In [22]:
sports = {1:'baseball',2:'football',3:'basketball'}
print(sports[4])

KeyError: 4

In [23]:
sports = {1:'baseball',2:'football',3:'basketball'}
sports.get(4,'not here')

'not here'

In [24]:
sports = {1:'baseball',2:'football',3:'basketball'}
'volleyball' in sports

False

# 집합

In [25]:
s1 = set ([2,3,5,7,9])
s1

{2, 3, 5, 7, 9}

In [26]:
s2 = set ("Hamburger")
s2

{'H', 'a', 'b', 'e', 'g', 'm', 'r', 'u'}

집합은 set 키워드를 통해 만들 수 있다. 괄호 안에 리스트나 문자열을 입력하여 사용한다. (빈 집합이면 a = set())
중복이 허용되지 않고, 순서가 없는 특징을 가지고 있다. 그래서 문자열이 순서대로 나오지 않는다. (일반적인 사용으로는 인덱싱 불가)

In [31]:
a = set([1,4,7,9,12])
t1 = tuple(a)
t1[1]

4

In [36]:
a = set([1,2,3,4])
b = list(a)
b[2]

3

인덱싱하려면 집합을 튜플이나 리스트로 변환해주어야한다

In [38]:
a1 = set(['돼지','소','닭','오리'])
a2 = set(['소','양','낙타','청개구리'])
a1 & a2

{'소'}

In [42]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2

{4, 5, 6}

In [43]:
s1.intersection(s2)

{4, 5, 6}

In [44]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [46]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 - s2

{1, 2, 3}

In [48]:
s1.difference(s2)

{1, 2, 3}

교집합 - 합집합 - 차집합 순서

In [50]:
a1 = set(['자동차','자전거','기차'])
a1.add ('버스')
a1

{'기차', '버스', '자동차', '자전거'}

In [51]:
a1 = set(['자동차','자전거','기차'])
a1.update('버스','고속철도','인력거')
a1

{'거', '고', '기차', '도', '력', '버', '속', '스', '인', '자동차', '자전거', '철'}

In [52]:
a1 = set(['자동차','자전거','기차'])
a1.update(['버스','고속철도','인력거'])
a1

{'고속철도', '기차', '버스', '인력거', '자동차', '자전거'}

In [53]:
a1 = set(['서울','대전','대구','부산','맨해튼'])
a1.remove('맨해튼')
a1

{'대구', '대전', '부산', '서울'}

# 불

In [54]:
a = True
b = False
type(a)

bool

In [55]:
4 == 4

True

In [56]:
2 < 1

False

In [58]:
if [1,2,3]:
    print ("True")
else:
    print("False")

True

In [59]:
bool("king")

True

In [60]:
bool({})

False

불 자료형으로 참과 거짓을 나타낼 수 있다. 반드시 첫 문자는 대문자다.(True/False) 문자열,리스트,튜플,딕셔너리가 비어있거나 숫자 0인 경우 False이다.

# 변수

### 자료형의 값을 저장하는 공간

In [61]:
a = 1
b = "엉덩이"

a,b -> 변수 (=) 기호를 사용함.    변수 이름 = 변수에 저장할 값

In [62]:
a = {'머리','어깨','무릎','발'}
b = a
a is b

True

In [80]:
a = ['머리','어깨','무릎','발']
b = a
a[3] = '발톱'
a
b

['머리', '어깨', '무릎', '발톱']

위에서 a와 b는 동일한 리스트를 가진다. 머리...발 리스트를 참조하는 변수가 2개인 것.

In [82]:
a = ['머리','어깨','무릎','발']
b = a[:]
a[3] = '무좀'
a

['머리', '어깨', '무릎', '무좀']

In [87]:
a = ['머리','어깨','무릎','발']
b = a[:]
a[3] = '무좀'
print(b)

['머리', '어깨', '무릎', '발']

In [75]:
from copy import copy
b = copy(a[:])
a

['머리', '어깨', '무릎', '무좀']

In [86]:
from copy import copy
b = copy(a[:])
b

['머리', '어깨', '무릎', '무좀']

In [77]:
b is a

False

In [84]:
str = "자동차"
str[0]

'자'

In [88]:
a = [1,2,3]
b = a
b

[1, 2, 3]

In [90]:
a[2] = 4
b

[1, 2, 4]

In [91]:
b is a

True

In [92]:
b = a[:]
a[2] = 5
a

[1, 2, 5]

In [93]:
b

[1, 2, 4]

[:]를 이용해 a 리스트의 값을 바꾸더라도 b 리스트는 바뀌지 않는다! b.copy(a) = b = a[:]

In [94]:
a, b = ('돼지','고기')
(a, b) = '돼지','고기'
[a,b] = ['돼지','고기']
a = b = '순대'

In [95]:
a = '짬뽕'
b = '비빔냉면'
a,b = b,a
a

'비빔냉면'

In [96]:
b

'짬뽕'

튜플, 리스트를 이용해 변수를 만들거나 두 변수의 값을 바꿀 수 있다.

# 연습문제

In [97]:
a = 80
b = 75
c = 55
(a + b + c) / 3

70.0

In [100]:
13 % 2

1

나머지 연산자 사용. a % b = 1  -> odd   0 -> even

In [108]:
a ='881120-1068234'
yyyymmdd = a[:6]
num = a[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [109]:
a = ['881120-1068234']
yyyymmdd = a[:6]
num = a[7:]
print(yyyymmdd)
print(num)

['881120-1068234']
[]

In [110]:
pin = "881120-1068234"
pin[7]

'1'

In [118]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

In [121]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

In [130]:
a = ['life','is','too','short']
result = " ".join(a)
print(result)

life is too short

In [134]:
t1 = (1,2,3)
t1 = t1 + (4,)
print(t1)

(1, 2, 3, 4)

t1 값은 불변! 새 튜플이 만들어지고 그 값이 t1에 대입

In [138]:
a = dict()
a

{}

In [142]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

a['name'] = 'python'  문자열 불변
a[('a',)] = 'python'  튜플 불변
a[[1]] = 'python'     리스트 가변
a[250] = 'python'     숫자 불변

In [147]:
a = {'A':90, 'B':80, 'C':70}
b = a.pop('B')
print(b)
a

80

{'A': 90, 'C': 70}

In [151]:
a = ([1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5])
aset = set(a)
b = list(aset)
print(b)

[1, 2, 3, 4, 5]