# 내장 함수

## abs

In [1]:
abs(2.2)

2.2

In [3]:
abs(-2.4)

2.4

숫자를 입력받았을 때 그 절댓값을 돌려준다!

## all

In [4]:
all([1,2,3])

True

In [5]:
all([1,2,0,3])

False

반복 가능한 자료형을 인수로 받아 전부 참이면 True, 하나라도 거짓이면 False

## any

In [6]:
any([0,1,2,3])

True

In [7]:
any([0,""])

False

all()과 다르게 하나라도 참이면 True, 전부 거짓이면 False

## chr

In [8]:
chr(127)

'\x7f'

In [10]:
chr(112)

'p'

아스키 코드(0-127)값을 입력받아 코드에 해당하는 문자를 출력!

## dir

In [11]:
dir(['김치','찌개','맛있어'])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [12]:
dir({'김밥','3000원'})

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

객체가 자체적으로 가지는 변수나 함수를 출력!

## divmod

In [13]:
divmod(6,2)

(3, 0)

In [14]:
6//2

3

In [15]:
6%2

0

2개의 숫자를 입력받아 a를 b로 나눈 몫과 나머지를 튜플로 돌려준다.

몫을 구하는 연산자 //와 나머지를 구하는 연산자 %과 비교 가능!

## enumerate

In [16]:
for i, name in enumerate(['돼지','소','닭']):
    print(i, name)

0 돼지
1 소
2 닭

enumerate=열거하다 순서가 있는 자료형을 입력받아 인덱스 값 포함해 출력한다.

for문과 자주 쓰이며 객체가 반복 구간에서 어느 위치에 있는지 인덱스 값이 필요할때 유용!

## eval

In [17]:
eval("'냉동'+'삼겹살'")

'냉동삼겹살'

In [18]:
eval('abs(2.4)')

2.4

실행 가능한 문자열을 입력받아 실행한 결괏값 출력! 함수나 클래스를 동적으로 실행할 때 사용한다.

## filter

filter는 첫 인수로 함수 이름, 두번째 인수로 반복 가능한 자료형을 넣어 함수에 입력했을 때 반환값이 참인 것만 묶어서 출력한다!

In [25]:
def positive(l):
    result=[]
    for i in l:
        if i>0:
            result.append(i)
    return result
print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

In [27]:
def positive(x):
    return x>0
print(list(filter(positive,[1,-3,2,0,-5,6])))

[1, 2, 6]

두번째 인수인 리스트의 요소들이 함수에 입력되었을 때 1,2,6이 양수이기에 x>0가 참이 되어 해당 값을 돌려준다.

## hex

In [30]:
hex(239344)

'0x3a6f0'

In [31]:
hex(2)

'0x2'

정수 값을 16진수로 변환해 출력한다.

## id

In [32]:
a = 2
id(2)

8791438959024

In [33]:
id(a)

8791438959024

In [34]:
b = a
id(b)

8791438959024

In [35]:
id(6)

8791438959152

객체의 고유 주소 값을 출력한다.

## input

In [36]:
a=input("몸무게를 입력하세요:")

몸무게를 입력하세요:120

In [37]:
a

'120'

사용자 입력을 받아 매개변수로 문자열을 넣으면 해당 문자열이 프롬프트가 된다!

## int

In [38]:
int('8')

8

In [40]:
int(4.2327862347)

4

문자열 형태의 숫자나 소수를 정수의 형태로 돌려준다!

int(x,y)는 y진수로 표현된 문자열 x를 10진수로 변환해 돌려준다.

In [41]:
int('12',4)

6

In [43]:
int('0x2', 16)

2

각각 4진수로 표현된 12의 10진수, 16진수로 표현된 0x2의 10진수 값이다.

## isinstance

In [1]:
class man:
    pass
a=man()
isinstance(a,man)

True

In [2]:
b='항아리짬뽕'
isinstance(b,man)

False

첫번째 인수로 인스턴스, 두번째로 클래스 이름을 받아 입력받은 인수가 클래스의 인수인지 판단해 T/F를 돌려준다!

## len

In [3]:
len("대추차")

3

In [4]:
len((1,'s'))

2

In [5]:
len({'김치':'볶음밥'})

1

입력값 len()의 길이(요소의 전체 개수)를 출력한다!

## list

In [6]:
list("삼선짬뽕 5000원")

['삼', '선', '짬', '뽕', ' ', '5', '0', '0', '0', '원']

In [9]:
list([1,3,4])

[1, 3, 4]

반복 가능한 자료형을 입력받아 리스트로 만들어 돌려준다! 리스트를 입력하면 같은 리스트를 복사해 돌려준다.

## map

In [10]:
def twice(numberlist):
    result=[]
    for number in numberlist:
        result.append(number*2)
    return result

result=twice([2,4,6,8,9])
print(result)

[4, 8, 12, 16, 18]

함수와 반복 가능한 자료형을 입력받아 각 요소를 함수가 수행한 결과로 묶어 출력해준다.

In [11]:
def twice(x):
    return x*2
list(map(twice,[1,2,3,4]))

[2, 4, 6, 8]

map을 통해 수행한 twice 함수를 list가 묶어서 출력했다!

## max / min

In [12]:
max([1,34,7])

34

In [16]:
max('pizza')

'z'

In [17]:
min([32,68,1])

1

In [18]:
min('cream')

'a'

인수로 반복 가능한 자료형을 받아 그 최댓값/최솟값을 출력한다.

## oct

In [19]:
oct(85)

'0o125'

In [20]:
oct(85278394)

'0o505237272'

정수를 8진수 문자열로 바꾸어 출력한다! oct에서 8이라는 느낌이 확 온다.

## open

In [ ]:
f=open("binary_file","rb")
fread=open("read_mode.txt",'r')
fread2=open("read_mode.txt")

In [ ]:
fappend=open("append_mode.txt",'a')

파일 이름과 읽기 방법을 입력받아 객체를 출력한다. w/r/a(추가)/b(바이너리 모드) b는 w/r/a하고 같이 쓴다. 문자열 포매팅 참고!

## ord

In [24]:
ord('b')

98

문자의 아스키 코드 값을 돌려준다. 0-127 값을 입력했던 chr()함수와는 반대!

## pow

In [25]:
pow(2,6)

64

a의 b제곱한 값을 출력한다! **과 같다.

## range

for문과 자주 쓴다! 입력받은 숫자에 해당하는 범위의 값을 반복 가능한 객체로 출력한다.

In [26]:
list(range(6))

[0, 1, 2, 3, 4, 5]

숫자 지정 안하면 0부터!

In [27]:
list(range(5,7))

[5, 6]

2개의 인수는 시작과 끝! 하지만 끝 숫자는 포함되지 않는다.

In [30]:
list(range(1,5,2))

[1, 3]

마지막 인수는 숫자 사이의 거리!

## round

In [32]:
round(2.743)

3

In [33]:
round(2.35711,4)

2.3571

숫자를 입력받아 반올림한다. 원하는 소수점 자릿수를 실수 뒤에 입력해 반올림을 할 수도 있다.

## sorted

In [34]:
sorted([67,2,1])

[1, 2, 67]

In [36]:
sorted(['김치','피자','도토리묵','배'])

['김치', '도토리묵', '배', '피자']

In [37]:
sorted('hello, happy world!')

[' ',
 ' ',
 '!',
 ',',
 'a',
 'd',
 'e',
 'h',
 'h',
 'l',
 'l',
 'l',
 'o',
 'o',
 'p',
 'p',
 'r',
 'w',
 'y']

## str

In [38]:
str(4)

'4'

In [39]:
str('YEAH'.lower())

'yeah'

문자열 형태로 객체를 변환해 출력한다!

## sum

In [40]:
sum([3,5,7])

15

In [41]:
sum((6,17,1))

24

입력받은 리스트나 튜플의 모든 요소의 합을 출력한다!

## tuple

In [43]:
tuple('abc')

('a', 'b', 'c')

In [44]:
tuple([2,6,8])

(2, 6, 8)

In [45]:
tuple((1,5,8))

(1, 5, 8)

반복 가능한 자료형을 입력받아 튜플 형태로 출력한다! 튜플이 입력되면 그대로 출력한다.

## type

In [47]:
type('abc')

str

In [48]:
type([])

list

In [49]:
type(())

tuple

In [50]:
type({})

dict

입력값의 자료형이 무엇인지 알려준다!

## zip

In [54]:
list(zip([1,3,4],[5,6,7]))

[(1, 5), (3, 6), (4, 7)]

In [59]:
list(zip((1,2,3),(4,5,6)))

[(1, 4), (2, 5), (3, 6)]

In [62]:
list(zip("egg","tart"))

[('e', 't'), ('g', 'a'), ('g', 'r')]

동일한 개수로 이루어진 자료형을 묶어준다!