In [1]:
print("hello world")

hello world

In [2]:
print("My name is Hong Gil Dong.")
print("I am 13 years old.")

My name is Hong Gil Dong.
I am 13 years old.

In [6]:
print("My name is Hong Gil Dong. 
      I am 13 years old.")

SyntaxError: EOL while scanning string literal (<ipython-input-6-6cc23f4d835c>, line 1)

In [7]:
print("(@) (@)")
print("(=^.^=)")
print("(-m-m-)")

(@) (@)
(=^.^=)
(-m-m-)

In [8]:
print("   item     count     price")
print("    pen        20       100")
print("   note         5        95")
print(" eraser       110        97")

   item     count     price
    pen        20       100
   note         5        95
 eraser       110        97

In [9]:
print("      item     count     price")
print("       pen        20       100")
print("      note         5        95")
print("    eraser       110        97")

      item     count     price
       pen        20       100
      note         5        95
    eraser       110        97

In [1]:
a = 1
b = 2
a + b

3

In [2]:
3 / 5

0.6

In [3]:
3 * 0.2

0.6000000000000001

In [5]:
a = "bread"
b = "kimchi"
print("a")

a

In [8]:
input("hello")

helloyay

'yay'

In [10]:
a = "kimchi"
a

'kimchi'

In [12]:
a = 3
b = 1
a - b

2

In [13]:
print("I'm a kimchi warrior")

I'm a kimchi warrior

In [15]:
a = "I'm a kimchi warrior"
print(a)

I'm a kimchi warrior

In [16]:
a = "I'm a kimchi warrior"
a

"I'm a kimchi warrior"

In [22]:
a = 9
if a > 3:
    ...print("a is greater than 3")
...
a is greater than 3

SyntaxError: invalid syntax (<ipython-input-22-d9cc0335d491>, line 3)

In [45]:
a = 3
if a > 1:
    print("a is greater than 1")
...
a is greater than 1

SyntaxError: invalid syntax (<ipython-input-45-e088c53c75e7>, line 5)

In [37]:
for a in [1,2,3,4]:
    print(a)
    ...
    1
    2
    3
    4

1
2
3
4

In [38]:
b = 0
while b < 4:
    b=b+1
    print(b)
    ...
    1
    2
    3
    4

1
2
3
4

In [46]:
def add(a,b):
    return a+b
...
add(3,4)

7

In [47]:
a = 123
a

123

In [49]:
a = 1.2
a

1.2

In [53]:
a = 6.37e23
b = 0o427
c = 0x8ff
a * b * c

4.092960690000001e+29

In [54]:
a = 3
b = 4
a ** b

81

In [55]:
3 % 7

3

In [56]:
6 % 7

6

In [57]:
7 / 4

1.75

In [60]:
7 // 4

1

In [63]:
multiline='''
... life is too short
... you need python
... '''

In [64]:
multiline="""
... Life is too short
... You need python
... """

In [66]:
print(multiline)
Life is too short
You need python

SyntaxError: invalid syntax (<ipython-input-66-b8068b1368bd>, line 2)

In [68]:
print("kimchi\nwarrior")

kimchi
warrior

In [71]:
print("My height\n170\nMy weight\n86.000000")

My height
170
My weight
86.000000

In [72]:
head = "Kimchi Warrior"
tail = " is sucks!"
head + tail

'Kimchi Warrior is sucks!'

In [73]:
a = "pizza"
a * 2

'pizzapizza'

In [74]:
print("=" * 50)
print("My program")
print("=" * 50)

==================================================
My program
==================================================

In [75]:
a = "oh yeah baby"
len(a)

12

In [78]:
 a = "Life is too short, You need Python"
a[17:-2]

', You need Pyth'

In [80]:
a = "20001022Rainy"
date = a[:8]
weather = a[8:]
date

'20001022'

In [89]:
a = "20200330Windy"

year = a[:4]
month = a[4:6]
date = a[6:8]
weather = a[8:13]
weather

'Windy'

In [98]:
a = "Fried checken"

a[:8]

a[9:]

a[:8] + 'i' + a[9:]

'Fried chicken'

In [99]:
number = 4
"I eat %d banana." % number

'I eat 4 banana.'

In [102]:
number = 23
day = "three"
"I ate %d apples. so I was sick for %s days." % (number,day)

'I ate 23 apples. so I was sick for three days.'

In [104]:
multiline = '''
... Life is too short
... You need python
... '''
print(multiline)

Life is too short
Ypu need python

In [105]:
a = "king mohyun"

b = a[0] + a[1] + a[6] + a[10]

b

'kion'

In [106]:
a = "king mohyun"
b = a[0:4]

b

'king'

In [107]:
a = "Fried checken"

a[:8]

a[9:]

a[:8] + 'i' + a[9:]

'Fried chicken'

In [112]:
sum 90+80+100

NameError: name 'sum90' is not defined

In [114]:
multiline='''
My name is Hong Gil Dong.
I am 13 years old.
'''
print(multiline)

My name is Hong Gil Dong.
I am 13 years old.

탕수육

In [1]:
# (볶음밥)

# (할말)
## (할말)
### (할말)
#### (할말)
##### 할말
###### 할말

# (할말)
## (할말)
### (할말)
#### (할말)
##### (할말)
###### (할말)

**할말**
_할말_

In [32]:
print("=" * 50)
print("부대찌개!" * 7)
print("=" * 50)

==================================================
부대찌개!부대찌개!부대찌개!부대찌개!부대찌개!부대찌개!부대찌개!
==================================================

In [12]:
3 ** 3

27

In [31]:
a = "you make me wonder"
len(a)

18

In [23]:
print("abcd\000efg")

abcd efg

In [38]:
"I did game %s times." % "two thousand seven hundred"

'I did game two thousand seven hundred times.'

In [42]:
number = 2.3
"I ate %f apples." % number

'I ate 2.300000 apples.'

In [76]:
"I'm a %s master." % "spakling"

"I'm a spakling master."

In [41]:
number = 23
day = "five"
"He just had a coding %s times. so he was sick for %s days." % (number, day)

'He just had a coding 23 times. so he was sick for five days.'

In [45]:
"error is %s%%." % 98

'error is 98%.'

In [60]:
"%10s" % "item"

'      item'

In [64]:
"%-10.3f" % 4.8372

'4.837     '

In [66]:
"i eat %s apple." % 3

'i eat 3 apple.'

In [70]:
"I eat {0} apple.".format(3)

'I eat 3 apple.'

In [73]:
"I eat {0} apples.".format("five")

'I eat five apples.'

In [78]:
number = 3
"I eat {0} apples.".format(number)

'I eat 3 apples.'

format("number")로 number를 정의해버리면 숫자 3이 아닌 I eat number apples. 출력됨!

In [81]:
number = 5
day = 3
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 5 apples. so I was sick for 3 days.'

In [82]:
"I ate {number} apples. so I was sick for {day} days.".format(number = 10 , day = 8)

'I ate 10 apples. so I was sick for 8 days.'

In [83]:
"I ate {0} apples. so I was sick for {day} days.".format(10 , day = 8)

'I ate 10 apples. so I was sick for 8 days.'

name = value 혼용 가능!

In [136]:
a = "{0:^10}".format("hi")
b = "{0:>10}".format("eraser")
print(a + b)

    hi        eraser

In [88]:
"{0:!<10}".format("yeah")

'yeah!!!!!!'

In [96]:
a = 2.83849798289
"{0:10.4f}".format(a)

'    2.8385'

In [99]:
"{{kimchi}}".format()

'{kimchi}'

In [117]:
name = "엉덩이"
age = "149"
f'나의 이름은 {name}입니다. 나의 나이는 {age}입니다!'

'나의 이름은 엉덩이입니다. 나의 나이는 {age}입니다!'

In [109]:
age = 28
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 29살이 된다.'

In [116]:
f'{{"hi":!^10}}'

'{"hi":!^10}'

f문자열에서 {}를 표시하기 위해 {{ and }} 형태를 사용한 경우 안의 정렬이 이루어지지 않았다. 
문자열에서의 {}가 아닌 단순 기호로 인식해서 그런 것같다.

In [119]:
a = "탕수육"
a.count('탕')

1

In [120]:
a = "볶음면"
a.find("면")

2

In [123]:
a = "볶음면"
a[2]

'면'

find는 문자가 나온 위치를 반환하고 인덱싱은 문자열의 a번째 글자를 반환한다.

In [125]:
a = "김치볶음밥"
a.index("탕")

ValueError: substring not found

index 역시 find와 같은 역할을 하지만 찾으려는 문자가 존재하지 않을 시 오류를 출력한다는 점이 다르다.

In [127]:
".".join ("fried chicken")

'f.r.i.e.d. .c.h.i.c.k.e.n'

In [129]:
a = "you"
a.upper()

'YOU'

In [131]:
a = " hello  "
a.strip()

'hello'

In [132]:
a = "kokokokokok   "
a.rstrip()

'kokokokokok'

In [133]:
a = "I love you"
a.replace("love","hate")

'I hate you'

In [141]:
"abcd"* 2

'abcdabcd'

In [149]:
odd = [1,3,5,7,9]
odd[1] + odd[2]

8

In [151]:
even = [2,4,6,8,10,[12,14,16]]
even[-1][0]

12

even의 5번째 요소인 [12,14,16]에서 12를 나타내기 위해 [-1]뒤에 [0]붙임

In [152]:
a = [1,2,3,[4,5,6,[7,8,9]]]
a[3][3][0]

7

이처럼 삼중 사중 리스트에서도 인덱싱이 가능하지만 매우 복잡해짐

In [162]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b
c

[3, 4, 5]

In [163]:
a = [1,2,3,[4,5,6,[7,8,[9,10,11]]]]
a[3][2]

6

삼중, 사중 리스트 슬라이싱 가능. 역시 매우 복잡

In [170]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [172]:
a = [1,2,3]
b = [4,5,6]
a * 2

[1, 2, 3, 1, 2, 3]

In [173]:
a = [1,3,6,7]
a[2] = 5
a

[1, 3, 5, 7]

In [177]:
a = [1,3,5,7,8]
del a[0]
a

[3, 5, 7, 8]

In [1]:
number = [1,2,3,4]
age = [23,53,59]
"My {0} is {1}.".format(number,age)

'My [1, 2, 3, 4] is [23, 53, 59].'

In [4]:
name = [1,2,3,4]
name.append ([5,6,7])
name

[1, 2, 3, 4, [5, 6, 7]]

In [5]:
a = [2,5,6,7,1,34,8]
a.sort()
a

[1, 2, 5, 6, 7, 8, 34]

In [6]:
a = [1,2,3,4,6,5]
a.reverse()
a

[5, 6, 4, 3, 2, 1]

정렬 후 뒤집는 것이 아니고 리스트 그대로 reverse

In [10]:
a = [1,2,3,4]
a.index(2)

1

find 사용 x

In [12]:
a = [1,2,3,5,6,7,8]
a.insert(0,9)
a

[9, 1, 2, 3, 5, 6, 7, 8]

In [15]:
a = [1,2,3,4,56,7]
a.remove(7)
a

[1, 2, 3, 4, 56]

주의: remove -> 해당 값 삭제. 0부터 시작하는 값 순서x

In [20]:
a = [1,2,3,4]
a.pop ()
a

[1, 2, 3]

a.pop(0) 이후 바로 출력하면 a 리스트의 0번째 값인 1이 출력되었다.
a.pop(0) 이후 a까지 입력한 후에야 1을 제외한 [2,3,4]가 출력되었다.
a.pop()의 경우 해당 리스트의 마지막 값을 삭제한다.

In [24]:
a = [1,4,6,7,9,10]
del a[1]
a

[1, 6, 7, 9, 10]

In [29]:
a = [1,2,3,4]
a.pop(1)
a

[1, 3, 4]

In [30]:
a = "탕탕탕탕 탕수육"
a.count("탕")

5

In [32]:
a = [1,2,3,4,5,1,1]
a.count(1)

3

In [40]:
a = [1,2,3]
a.extend ([4,5])
a
b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

b.extend(a)의 경우 [6,7,1,2,3,4,5]
a + b의 경우 [1,2,3,4,5,6,7,6,7]이 출력된다.

In [42]:
a = [1,2,3]
a += [4,5]
a

[1, 2, 3, 4, 5]

In [43]:
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd'))

튜플은 t2처럼 한 값만 가질 경우 값 뒤에 콤마를 쓰기도 하고 괄호를 생략할 수도 있다. 리스트와 구별되는 점은 값을 변화시킬 수 없다는 것이다. 튜플() 리스트[]

In [44]:
t1 = (1,2,3,4)
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

이처럼 튜플의 값을 삭제하거나 더하는 등 변화시키려 하는 경우 오류가 출력된다.

In [46]:
t1 = (1,2,('ab','cd'))
t1[2][0]

'ab'

In [47]:
t1 = ('a','b','c','d','e')
t1[:3]

('a', 'b', 'c')

In [48]:
t1 = (1,2,3)
t2 = (4,5,6)
t1 + t2

(1, 2, 3, 4, 5, 6)

In [50]:
t1 = (1,2)
t1 * 3

(1, 2, 1, 2, 1, 2)

In [51]:
t1 = (1,2,3,4,5,6,(7,8,9))
len(t1)

7

튜플 안의 값을 변화시킬 수는 없지만 인덱싱,슬라이싱, 튜플끼리 더하거나 곱하고 길이를 구하는 것은 가능하다.

In [54]:
dic = {'name' : 'kim', 'phone' : '01091647571', 'birth' : '19930306'}
dic

{'name': 'kim', 'phone': '01091647571', 'birth': '19930306'}

In [57]:
a = {'a' : (1,2,3)}
a

{'a': (1, 2, 3)}

In [62]:
a = {'a' : 'b'}
a[1] = 'c'
a

{'a': 'b', 1: 'c'}

In [71]:
a = {1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}
del a['name']
a

{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [72]:
a = {'a' : 1,'b' : 2}
del a['a']
a

{'b': 2}

딕셔너리 -> {key:value}

In [75]:
a = {'현준':90, '상영':95}
a['현준']

90