In [1]:
# 2회차

# 자료형

## 숫자형

In [2]:
# 정수형
a = 123
b = -23
a

123

In [3]:
# 실수
a= 1.2
a

1.2

In [5]:
# 지수
b =2.31E13
b

23100000000000.0

In [6]:
# 8, 16진수
c = 0x8ff
d = 0xABC
c

2303

In [7]:
d

2748

In [8]:
# 연산
a = 3
b = 4
a + b
a - b
a * b
a / b

0.75

In [9]:
a ** b

81

In [10]:
# 나눗셈 후 나머지 반환
a % b

3

In [12]:
# 나눗셈 후 몫 반환
# / 연산자와는 다르다
7 // 2

3

## 문자열 자료형

문자열? -> 문자, 단어 등으로 구성된 문자들의 집합 따옴표로 둘러쌓이면 문자열

In [14]:
# 문자열 만들기
# 큰따옴표 둘러싸기
"Hello"
# 작은따옴표 둘러싸기
'Yes'
# 큰따옴표 3개 연속 - 문자열 길때
"""Pizza"""
# 작은거 3개 연속
'''I like pizza'''

'I like pizza'

In [20]:
# 문자열 안에 따옴표 포함시키기....
# 작은 따옴표 포함시키기 - 큰거로 둘러싸기
"David's will"
# 큰 따옴표 포함시키기 - 작은거로 둘러싸기
'"I want to get a job."he says.'
# 백슬래시 이용해서 작은/큰 따옴표 문자열 포함하기
say = 'ayyyyyy\'s party'

In [21]:
# 저대로 안 지키면 구문오류 발생
say

"ayyyyyy's party"

In [26]:
# 여러 줄 문자열 변수에 대입
# 이스케이프 코드
animals = "I don't want to go to the zoo.\n yes"
print(animals)

I don't want to go to the zoo.
 yes

In [29]:
# 연속된 큰/작은 따옴표 3개 쓰기 - 이스케이프 코드보다 깔끔함
multiline = '''
Pizza
pasta
kimchi'''
print(multiline)

Pizza
pasta
kimchi

\n -> 줄바꿈 \t -> 문자열에 탭 간격 \\ -> 문자 \를 그대로 쓰려고 할 때 \' \" -> 작은/큰 따옴표 그대로 표현할 때

In [33]:
# 문자열 연산하기
# 더하기
head = "나"
arm1 = "는 "
arm2 = "빡"
body = "빡"
leg1 = "이"
leg2 = "다"
head + arm1 + arm2 + body + leg1 + leg2

'나는 빡빡이다'

In [35]:
# 곱하기
leg2 * 5

'다다다다다'

In [36]:
print("안녕히" * 20)
print("가세요" * 20)

안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히안녕히
가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요가세요

In [48]:
# 문자열의 길이는?
a = "동해물과백두산이마르고닳도록하느님이보우하사 우리나라만세"
len(a)

29

In [40]:
# 인덱싱, 슬라이싱
# 파이썬 -> 0부터 센다!
a[0]

'동'

In [41]:
# 인덱싱 음수는 문자열을 뒤에서부터...
a[-1]

'세'

In [43]:
# -0이나 0이나 같은 값..
a[0]

'동'

In [50]:
# 문자열에서 내 멋대로 뽑아내자 // 공백도 글자 수에 들어간다
a[7] + a[22] + a[25] + a[26]

'이 나라'

In [47]:
# 슬라이싱 - 끝 번호는 포함하지 않아 0 <= a < 4
a[0:4]

'동해물과'

In [51]:
# 문자열[시작 번호:끝 번호]에서 각자롤 생략하면?
# 시작 번호부터 문자열 끝까지 뽑거나, 문자열 처음부터 끝까지 뽑거나...
a[:10]

'동해물과백두산이마르'

In [52]:
a[20:]

'하사 우리나라만세'

In [55]:
# 비워두면 전체 출력
a[:]

'동해물과백두산이마르고닳도록하느님이보우하사 우리나라만세'

In [57]:
# 음수도 사용 -> a[4]부터 a[-21]까지 ~
a[4:-20]

'백두산이마'

In [58]:
b = a[:5]
c = a[24:]
b + c

'동해물과백리나라만세'

In [59]:
# 문자열 뜯어고치기
a = "김치볶금밥"
a[3]

'금'

In [60]:
a[3] = "음"
a[:]

TypeError: 'str' object does not support item assignment

저렇게 하면 오류남... 문자열의 요솟값은 바꿀 수 없음. 슬라이싱을 이용하자

In [62]:
a[:3] + "음" + a[4]

'김치볶음밥'

In [63]:
# 문자열 포매팅 - 문자열 안의 특정 값만 바꿀 때 이용
"사과를 %d 개 주세요." % 8

'사과를 8 개 주세요.'

In [65]:
"순대를 %s만 주세요." % "1인분"

'순대를 1인분만 주세요.'

In [66]:
number = 500
"천원을 줄테니 빵을 하나 사오고 잔돈을 %d만큼 받아와." % number

'천원을 줄테니 빵을 하나 사오고 잔돈을 500만큼 받아와.'

%s -> 문자열 / %d -> 정수 / %f -> 부동소수 %o / %x -> 8/16진수 / %% -> ~~응응~~ % 자체를 표현할 때

In [67]:
# %s가 편리해 -> 자동으로 %뒤 값을 문자열로 바꿔줘
"버스비가 %s원이네" % 400

'버스비가 400원이네'

In [71]:
# %d%가 아니다 -> % 자체로 쓰려면 %%
"rate is %d%%." % 84

'rate is 84%.'

In [72]:
# 정렬도 가능
"%20s" % "kimchi"

'              kimchi'

In [73]:
"%-30s" % "yes"

'yes                           '

In [76]:
# 소수점 개수 표현
# -> 저 예시에서는 소수점 다섯 번째 자리까지 표시하고 길이 10개 문자열 오른쪽 정렬
"%10.5f" % 3.1413234

'   3.14132'

In [77]:
# format 이용한 포매팅
"탕볶밥 가격이 꽤 올랐네요. {0}원이라니.".format(10000)

'탕볶밥 가격이 꽤 올랐네요. 10000원이라니.'

In [79]:
number = 12000
day = "이틀"
"탕볶밥이 {0}원이라구요? 그 돈이라면 국밥을 {1}이나 먹을 수 있어요.".format(number, day)

'탕볶밥이 12000원이라구요? 그 돈이라면 국밥을 이틀이나 먹을 수 있어요.'

In [82]:
# 동일한 문자열인데 {0}말고 {number} 처럼 이름으로 -> 저게 더 줄 수가 짧다
"탕볶밥이 {number}원이라구요? 그 돈이라면 국밥을 {day}이나 먹을 수 있어요.".format(number=12000, day="이틀")

'탕볶밥이 12000원이라구요? 그 돈이라면 국밥을 이틀이나 먹을 수 있어요.'

{0}{1}, format, {0}{format} 혼용 가능. 입력값을 잘 줘서 혼동 안하게 조심하자.

In [3]:
# 좌우로 정렬
"{0:<10}".format("bye")
"{0:>10}".format("die")

'       die'

In [5]:
# 가운데 정렬
"{0:^10}".format("yesyes")

'  yesyes  '

In [7]:
# 공백 채우기 -> ><^ 앞에 채울 문자를 입력하자
"{0:=<20}".format("you")

'you================='

In [9]:
"{0:오<30}".format("안녕")

'안녕오오오오오오오오오오오오오오오오오오오오오오오오오오오오'

In [10]:
a = 0.323213123
"{0:0.5f}".format(a)

'0.32321'

In [11]:
"%0.5f" % a

'0.32321'

In [13]:
# {} 글자 자체로 쓰기
"{{sooo}}".format()

'{sooo}'

In [14]:
# f 문자열 포매팅
price = "5000"
charge = "400"
f'가격은 {price}입니다. 거스름돈은 {charge}입니다.'

'가격은 5000입니다. 거스름돈은 400입니다.'

In [17]:
f'{"hi":>10}'

'        hi'

In [18]:
f'{"you":=>30}'

'===========================you'

In [21]:
# 문자 개수 세기
a = "elephant"
a.count('e')

2

In [23]:
# 위치 알려주기 -> 중복이면 가장 처음으로 나온 위치 반환  / 없으면 -1
b = "I love you"
b.find('o')
b.find('q')

-1

In [24]:
b.index('u')

9

In [26]:
# 삽입
".".join(['a','b','v'])

'a.b.v'

In [28]:
# 대소문자
c = "hihibro"
c.upper()

'HIHIBRO'

In [29]:
c.lower()

'hihibro'

In [35]:
# 공백 지우기 좌/우/양쪽
d = " painting "
d.lstrip()
d.rstrip()

' painting'

In [33]:
d.strip()

'painting'

In [36]:
# 바꿔치기
e = "tofu is delicious"
e.replace("delicious", "yummy")

'tofu is yummy'

In [37]:
# 나누기
e.split()

['tofu', 'is', 'delicious']

## 리스트

In [4]:
# 다양한 형태
a = [1,2,3,4,5]
b = []
c = ['a',2,3,'b']
d = [2,5,6,['c','d']]

In [5]:
# 빈 리스트 생성 다른 방법
a = list()

In [7]:
# 인덱싱-슬라이싱
d

[2, 5, 6, ['c', 'd']]

In [8]:
d[0]

2

In [10]:
d[0] + d[2] # 2 + 6

8

In [11]:
d[3]

['c', 'd']

In [17]:
# 이중 리스트 인덱싱 /슬라이싱도 가능
d[3][0] # 이런 방식으로 이중 삼중 사중 가능.. 복잡하겠지

'c'

In [14]:
# 슬라이싱 - 방법은 문자열때랑 동일
d[0:2]

[2, 5]

In [15]:
d[3][:]

['c', 'd']

In [16]:
d[1:] + d[:3]

[5, 6, ['c', 'd'], 2, 5, 6]

In [18]:
# 리스트 연산
a = [1,2,3]
b = [4,5,6]
a + b # 더하기
d * 3 # n회 반복

[2, 5, 6, ['c', 'd'], 2, 5, 6, ['c', 'd'], 2, 5, 6, ['c', 'd']]

In [20]:
len(d) # 리스트 길이 구하기

4

In [21]:
# 정수와 문자열은 못 더한다!
a[0] + "hi"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
str(a[0]) + "hi" # 숫자를 문자열 형태로 바꾸는 str

'1hi'

In [24]:
a[2] = 4
a # 리스트 수정

[1, 2, 4]

In [29]:
del a[1]
a # 요소 삭제

[1]

In [38]:
f = [1,2,4,1,2,4]
f.remove(4) # 요소 제거.. 값 중복되면 가장 처음거
f

[1, 2, 1, 2, 4]

In [40]:
g = [1,2,3,4]
g.pop() # 맨 마지막 요소를 돌려주고 삭제
# 4
g

[1, 2, 3]

In [30]:
a.append(2)
a # 요소 추가

[1, 2]

In [37]:
a.insert(0,0) # 요소 추가
a

[0, 1, 2]

In [31]:
d.append([6,7,8])
d

[2, 5, 6, ['c', 'd'], [6, 7, 8]]

In [32]:
e = [4,2,6,23]
e.sort() # 요소 정렬
e

[2, 4, 6, 23]

In [33]:
e.reverse()
e # 뒤집기

[23, 6, 4, 2]

In [36]:
e.index(4) # 위치값 반환 ... 값이 리스트에 없으면 오류

2

In [41]:
h = [1,23,4,5,1,5,2,1]
h.count(1) # 요소 개수 세기

3

In [43]:
a = [0,1,2]
a.extend([3,4])
b = [5,6,7,8]
a.extend(b) # 리스트 확장
a

[0, 1, 2, 3, 4, 5, 6, 7, 8]

## 튜플

In [45]:
# 다양한 모습
# 리스트랑 비슷 
a1 = ()
a2 = (1,) # 요소 뒤 반드시 콤마
a3 = (1,2,3,4,5)
a4 = 1,23,4 # 괄호 없어도 무관
a5 = ('a','b',('ab','erd'))

튜플 - 리스트 가장 큰 차이: 값 변화 가능한지 여부... 리스트는 요소 변화 가능 / 튜플은 항목값 변화 불가능

튜플 삭제하려고 하면?

In [47]:
del a3[0] # 요소 지울 수 없다는 오류 메시지 출력

TypeError: 'tuple' object doesn't support item deletion

In [49]:
a3[0] = 'c' # 마찬가지로 변경도 불가

TypeError: 'tuple' object does not support item assignment

In [50]:
# 그래도 인덱싱 슬라이싱은 가능해
a3[0]

1

In [51]:
a3[:]

(1, 2, 3, 4, 5)

In [53]:
t1 = (1,2,3)
t2 = (7,8,9)
t1 + t2 # 더하기

(1, 2, 3, 7, 8, 9)

In [54]:
t2 * 3 # 곱하기

(7, 8, 9, 7, 8, 9, 7, 8, 9)

In [56]:
len(t1+t2) # 길이 구하기

6

## 딕셔너리

{key(불변값) + value(가변/불변값)}

In [58]:
abc = {'korea':['kimchi','gukbab'],'japan':'sushi','china':'zzambbong'}

In [62]:
abc['usa'] = 'pizza' # 쌍 추가
abc

{'korea': ['kimchi', 'gukbab'],
 'japan': 'sushi',
 'china': 'zzambbong',
 'usa': 'pizza'}

In [70]:
del abc['china'] # 요소 삭제
abc

{'korea': ['kimchi', 'gukbab'], 'usa': 'pizza'}

In [73]:
abc['korea'] # key로 value값 얻기... 인덱싱/슬라이싱 불가

['kimchi', 'gukbab']

In [75]:
ab = {'lan':'korean','lan':'english'} 
# key는 고유한 값.. 중복되게 설정하면 하나만 나오고 나머지는 다 무시된다
ab

{'lan': 'english'}

In [76]:
# key는 불변값 -> key로 리스트는 못 오지만 튜플은 된다!
bc = {(1,2,3):'ds'}
bc

{(1, 2, 3): 'ds'}

In [77]:
abc.keys() # key값만 뽑아내기

dict_keys(['korea', 'usa'])

In [78]:
abc.values() # value값만

dict_values([['kimchi', 'gukbab'], 'pizza'])

In [79]:
abc.items() # 쌍 얻기

dict_items([('korea', ['kimchi', 'gukbab']), ('usa', 'pizza')])

In [81]:
abc.clear() # 모두 지우기
abc

{}

## 집합

In [85]:
# 빈 집합은 s = set()처럼 쉽게
s1 = set([1,2,3,4])
s2 = set("no way o") 
s2 # 중복 허용 안하고 순서가 없다 -> 인덱싱이 안 된다

{' ', 'a', 'n', 'o', 'w', 'y'}

In [89]:
# 집합 값 인덱싱하려면 리스트나 튜플로 바꿔주자
l1 = list(s1)
l1[3]

4

In [88]:
l2 = tuple(s2)
l2[0]

' '

In [90]:
s3 = set([1,23,5,7,8,9,4,5,3,43,13,2])
s4 = set([4,5,6,7,8,9])
s3 & s4 # 교집합

{4, 5, 7, 8, 9}

In [91]:
s3 | s4 # 합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9, 13, 23, 43}

In [92]:
s3 - s4 # 차집합

{1, 2, 3, 13, 23, 43}

In [93]:
s3.add(49) # 값 추가
s3

{1, 2, 3, 4, 5, 7, 8, 9, 13, 23, 43, 49}

In [94]:
s4.update([11,12,13,14]) # 여러 개 추가
s4

{4, 5, 6, 7, 8, 9, 11, 12, 13, 14}

In [95]:
s4.remove(14)
s4 # 값 제거

{4, 5, 6, 7, 8, 9, 11, 12, 13}

## 불

불 = 참/거짓 나타냄.True/False(첫 글자 항상 대문자)

In [96]:
a = True
type(a)

bool

In [97]:
23 != 34

True

In [100]:
type(())

tuple

[] () {} 값 비어있거나 0값, None, "" 거짓

In [102]:
if []:
    print("참")
else:
    print("거짓")

거짓

## 변수

변수 이름 = 변수에 저장할 값

변수 = 객체를 가리키는 것

In [103]:
a = [1,3,5,4,2]
a.sort()
a.reverse()
a

[5, 4, 3, 2, 1]

# 제어문

## if문

In [105]:
# if 조건문:
#     수행할 문장1
#     수행할 문장2
#     ...
# else:
#     수행할 문장3
#     수행할 문장4
#     ...

# else문은 if없이 독립적으로 사용 불가 
# 제어문.. 들여쓰기 주의! 조건문 뒤 콜론(:) 잊지 말 것!

In [124]:
# 돈 >= 6000 화촌 1000 <= 돈 <= 6000 라면 돈 <= 1000 수돗물

money = 500
if money >= 6000:
    print("화촌순대국 순한 맛")
elif money >= 1000: # 다양한 조건 판단 필요할 때 elif로 다중 조건 판단 가능
    print("진라면 순한 맛") # 다시 말해 elif는 이전 조건문이 __거짓__일 때 수행
else:
    print("수돗물 쇠맛")

수돗물 쇠맛

In [116]:
# and = 모두 참이어야 참
# or = 하나만 참이어도 참
# not x = x가 거짓이면 참

ticket = True
if not ticket:
    print("다음달까지 참기")
else:
    print("11연속 뽑기 티켓")

11연속 뽑기 티켓

In [117]:
# x in 리스트,튜플,문자열 x not in 리스트,튜플,문자열

'짜장면' not in ['군만두','짬뽕','짜장면','양장피']

False

In [123]:
cooking = ['찌개','국','탕','조림']
if '탕' in  cooking:
    pass # 아무런 일도 하지 않게 설정하는 pass 결괏값 출력되지 않음
else:
    print("처음 보는 요리방식")

## while문

In [132]:
# while 조건문:
#     수행할 문장1
#     수행할 문장2
#     수행할 문장3
#     ...

# 조건문이 참인 동안에 while문 아래의 문장 반복해서 수행

In [4]:
eat = 0
while eat < 10: # eat이 10보다 작을 때까지...
    eat = eat + 1
    print("밥을 %d끼 먹었습니다." % eat)
    if eat == 10:
        print("배가 터집니다.")

밥을 1끼 먹었습니다.
밥을 2끼 먹었습니다.
밥을 3끼 먹었습니다.
밥을 4끼 먹었습니다.
밥을 5끼 먹었습니다.
밥을 6끼 먹었습니다.
밥을 7끼 먹었습니다.
밥을 8끼 먹었습니다.
밥을 9끼 먹었습니다.
밥을 10끼 먹었습니다.
배가 터집니다.

In [6]:
pizza = 8
people = 300 # 0이 아니기에 항상 참
while people:
    print("피자를 드릴게요")
    pizza = pizza -1
    print("남은 피자 조각은 %d개입니다." % pizza)
    if pizza == 0:
        print("피자를 다 먹었어요. 끝!")
        break # 강제로 빠져나가기

피자를 드릴게요
남은 피자 조각은 7개입니다.
피자를 드릴게요
남은 피자 조각은 6개입니다.
피자를 드릴게요
남은 피자 조각은 5개입니다.
피자를 드릴게요
남은 피자 조각은 4개입니다.
피자를 드릴게요
남은 피자 조각은 3개입니다.
피자를 드릴게요
남은 피자 조각은 2개입니다.
피자를 드릴게요
남은 피자 조각은 1개입니다.
피자를 드릴게요
남은 피자 조각은 0개입니다.
피자를 다 먹었어요. 끝!

In [ ]:
sushi = 5
while True:
    money = int(input("돈을 주세요: "))
    if money == 1000:
        print("안녕하세요. 빙글빙글회전초밥집입니다.")
        print("여기 초밥이 있어요.")
        sushi = sushi -1
    elif money > 1000:
        print("안녕하세요. 빙글빙글회전초밥집입니다.")
        print("거스름돈 %d를 받으세요. 초밥도 드릴게요." % (money-1000))
        sushi = sushi -1
    else:
        print("돈이 없으면 나가세요.")
        print("남은 초밥은 %d점입니다." % sushi)
    if sushi == 0:
        print("오늘 영업이 끝났습니다. 감사합니다. 안녕히 가세요.")
        break

In [1]:
a = 0
while a < 10: # 입력 조건이 조건에 맞지 않는다면 while문을 빠져나간다.
    a = a + 1 # 다만 while문의 맨 처음으로 다시 돌아가고자 하는 경우?
    if a % 2 == 0:continue # continue로 맨 처음 a < 10으로 돌아간다!
    print(a) # a가 짝수라면 print(a)는 수행되지 않겠지

1
3
5
7
9

In [ ]:
while True: # 조건문이 True이기에 항상 참.. 아래 문장이 영원히 수행된다.
    print("너는 여기서 못 나가")

## for문

In [3]:
# for 변수 in 리스트(또는 튜플, 문자열):
#     수행할 문장1
#     수행할 문장2
#     ... 

# 리스트, 튜플, 문자열의 첫 요소부터 마지막까지 차례로 변수에 대입해
# 수행할 문장 1,2...등을 수행한다.

In [5]:
chinese_food = ('zzazangmyun', 'zzambong', 'tangsuyuk' )
for i in chinese_food:
    print(i) # 첫 요소부터 마지막까지 반복

zzazangmyun
zzambong
tangsuyuk

In [10]:
a = [('korea','seoul'),('japan','tokyo'),('china','beijing')]
for (first, last) in a: # 튜플의 각 요소가 first, last 대입
    print(first + last)

koreaseoul
japantokyo
chinabeijing

In [12]:
scores = [86,57,89,99,100]
number = 0
for score in scores:
    number = number +1
    if score > 60:
        print("%d번 학생은 통과입니다." % number)
    else:
        print("%d번 학생은 탈락입니다." % number)

1번 학생은 통과입니다.
2번 학생은 탈락입니다.
3번 학생은 통과입니다.
4번 학생은 통과입니다.
5번 학생은 통과입니다.

In [18]:
scores = [23,75,49,70,99]
number = 0
for score in scores:
    number = number +1
    if score < 60:
        continue # while문처럼 continue 만나면 for문의 맨 처음으로
    print("%d번 학생은 통과에요!" % number)

2번 학생은 통과에요!
4번 학생은 통과에요!
5번 학생은 통과에요!

In [20]:
a = range(10)
a # range(시작 숫자, 끝 숫자)

range(0, 10)

In [24]:
add = 0 
for i in range(1,11): # 1부터 10까지.. 
    add = add+i

print(add) # 1부터 10까지 더한 값이 된다...

55

In [26]:
for number in range(len(scores)): # score의 요소-5개 -> range(0,5)
    if scores[number] < 60:
        continue
    print("%d번 학생 축하합니다."%(number+1))

2번 학생 축하합니다.
4번 학생 축하합니다.
5번 학생 축하합니다.

In [32]:
for i in range(2,10): # 2부터 9까지 i에 대입
    for j in range(1,10): # 1부터 9까지 j에 대입
        print(i*j, end = " ") # 결괏값을 해당 줄에 계속 출력하기 위해
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [34]:
a = [2,4,6,8]
result = []
for num in a:
    result.append(num*5)

print(result) # 리스트 안에 for 포함하는 리스트 내포

[10, 20, 30, 40]

In [35]:
# 더 짧게 해보자
b = [3,6,9,12]
result = [num*8 for num in b]
print(result)

[24, 48, 72, 96]

In [37]:
c = [1,2,3,4,5]
result = [num * 3 for num in c if num % 2 == 0]
print(result) # 짝수에만 3을 곱하여 담자!

[6, 12]

리스트 내포 문법 - [표현식 for 항목 in 반복 가능한 객체 if 조건문]

In [43]:
# 조금 복잡하지만 for문 2개 이상 사용도 가능해
# 구구단 모든 결과를 리스트 안에! 

result = [x*y for x in range(2,10)
         for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]